* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

input, button {
    border: 0;
    background-color: transparent;
}

.input-combo {
    display: flex;
}

.input-combo input {
    flex: 1;
}

body {
    background-color: #403F4D;
    color: #FBFAFB;
    font-family: sans-serif;
}

main {
    margin: 0 auto;
    width: 35em;
}

#tasks-progress {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
}

#tasks-progress::-webkit-progress-value {
    background-color: #62DCA5;
}

#tasks-progress::-moz-progress-bar {
    background-color: #62DCA5;
}

.task {
    background-color: #4E4D5C;
}

.task-add {
    background-color: #2E2D33;
}

#tasks-progress, .task, .task-add {
    border-radius: 3px;
}

.task, .task-add {
    margin-bottom: 10px;
}

.task, .task-add input {
    font-size: 1.1em;
}

.task, .task-add input, .task-add button {
    padding: 20px;
}

.task-add button, .task-add input {
    color: white;
}

.task-add input::placeholder {
    color: #A9A9A9;
}

.task-date, .task-date-2 {
    font-size: 0.7em;
    color: rgba(202, 201, 202, 0.4);
}

.task-date {
    margin-bottom: 1em;
}

.task-date-2 {
    margin-top: 1em;
}

.task-actions {
    margin-top: 0.5em;
    text-align: right;
}

.task-actions button {
    background-color: white;
    border-radius: 0.3em;
    cursor: pointer;
}

#tabs, #tabs-main {
    display: flex;
}

.tab {
    color: inherit;
    text-decoration: none;
    margin-right: 1em;
    cursor: pointer;
}

.tab, #add-tab {
    background-color: #4E4D5C;
    padding: 1em;
    border-radius: 3px;
}

.tab-active {
    background-color: #2E2D33;
}

#add-tab {
    cursor: pointer;
}

#tabs-context-menu {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
}

#tabs-context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#tabs-context-menu ul li {
    padding: 0.5em 1em;
}

#tabs-context-menu ul li:hover {
    background-color: teal;
    cursor: pointer;
}